In [3]:
import pandas as pd

#Read Data
ds1 = pd.read_csv('bjp_tweets.csv', nrows=10000)
ds2 = pd.read_csv('congress_tweets.csv',  nrows=10000)

#Merge old years and recen year data
data = pd.concat([ds1, ds2], ignore_index=True)

In [5]:
data.drop(columns=[col for col in data.columns if col != 'tweet'], inplace=True)

In [6]:
data.head(3)

                                               tweet
0  ndtv anchor let go over to aap live press conf...
1  sambit patra attacks rahul gandhi over his cow...
2  crediting the bjp with taking development to s...

In [10]:
from textblob import TextBlob

def analyze_sentiment(tweet):
    analysis = TextBlob(tweet)
    polarity = analysis.sentiment.polarity
    if polarity > 0:
        return 'positive'
    elif polarity < 0:
        return 'negative'
    else:
        return 'neutral'

# Apply sentiment analysis to each tweet and create a new column 'sentiment'
data['sentiment'] = data['tweet'].apply(analyze_sentiment)

In [11]:
data.head(3)

                                               tweet sentiment
0  ndtv anchor let go over to aap live press conf...  negative
1  sambit patra attacks rahul gandhi over his cow...   neutral
2  crediting the bjp with taking development to s...   neutral

In [12]:
data.to_csv("training_data.csv")